a {
    vertical-align: middle
}

input {
    width: 100%;
    margin-right: 5px;
}

body {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}


h1 {
    font-size: 120%;
}

.gray {
    color: #919191;
}

.page {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Mukta Malar", Arial;
    font-size: 1em;
    min-height: 100vh;
    position: relative;
}

.page-header {
    background-color: #0f0f0f;
    display: flex;
    justify-content: space-between;
}

.page-title, .author {
    padding-left: 20px;
}

.sign-in-title, .year, .app-header {
    padding-right: 20px;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

    background-color: #0f0f0f;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 80%;
}

.app-header {
    border-bottom: 1px solid gray;
}

button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-weight: bold;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

button:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;

}

button:active {
    position: relative;
    top: 1px;
}

button.green {
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403;
    border: 1px solid #74b807;
    color: #ffffff;
    text-shadow: 0px 1px 0px #528009;
}

button.green:hover {
    background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    background-color: #77a809;
}

button.red {
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color: #f24537;
    border: 1px solid #d02718;
    color: #ffffff;
    text-shadow: 0px 1px 0px #810e05;
}


button.red:hover {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color: #c62d1f;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.code-container {
    background: #f5f8fa;
    padding: 20px;
    margin-bottom: 10px;
}

.command .command-code {
    background: #f5f8fa;
    padding: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.column-left {
    padding-right: 10px;
    flex: 20%;
    border-right: 1px solid gray;
}

.column-right {
    flex: 100%;
    padding: 20px;
}

.icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: cover;
}

.icon-logout {
    background-image: url(/img/logout_gray_136_136_136.svg);
}

.icon-logout:hover,
.icon-logout:focus {
    background-image: url(/img/logout_red_233_86_86.svg);
}

.buttons {
    display: flex;
    justify-content: space-between;

}