<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Commands repository - online notes with commands & hotkeys</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="page">
<div id="page-container">
    <header class="page-header">
        <div class="container">
            <h1 class="page-title">Commands repository</h1>
            <table>
                <tr>
                    <th>
                        <img alt="login img" src="/img/login_gray_136_136_136.svg" width="22px">
                    </th>
                    <th><h2 class="sign-in-title">Signed in as <b>barinov3d@gmail.com</b></h2></th>
                    <th><span class="icon icon-logout"></span></th>
                </tr>
            </table>
        </div>
    </header>
    <main>
        <div class="app-header">
            <div class="container" align="right">
                <table>
                    <tr>
                        <th><h1 id="button" class="page-title" th:object="${currentApplication}"
                                th:text="${currentApplication.name}">App name</h1></th>
                        <th>
                            <form method="POST" th:action="@{/{id}/delete(id=${currentApplication.id})}">
                                <button style="background-color: lightcoral; font-weight: bold"
                                        title="delete application and all it's commands">x
                                </button>
                            </form>
                        </th>
                    </tr>

                </table>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="column-left">
                    <ul th:each="app : ${applications}">
                        <a href="#" th:href="@{/{id}(id=${app.id})}" th:text="${app.name}">
                            <li>Application name</li>
                        </a>
                    </ul>
                    <ul>
                        <li>
                            <form method="POST" th:action="@{/application}">
                                <table>
                                    <tr>
                                        <th><label>
                                            <input placeholder="enter new app name.." th:field="*{newApp.name}"/>
                                        </label></th>
                                        <th>
                                            <button type="submit" href="#"
                                                    style="background-color: lightgreen; font-weight: bold"
                                                    title="add new application">+
                                            </button>
                                        </th>
                                    </tr>
                                </table>
                            </form>
                        </li>
                    </ul>


                </div>
                <div class="column-right">
                    <div class="command">
                        <form method="POST" th:action="@{/{id}/command(id=${currentApplication.id})}">
                            <input placeholder="enter command description.." th:field="*{newCommand.description}">
                            <input placeholder="enter command text.." th:field="*{newCommand.text}">
                            <button style="background-color: lightgreen; font-weight: bold"
                                    title="add new command">+
                            </button>
                        </form>
                    </div>
                    <div th:each="command : ${commands}" class="command">
                        <p th:text="${command.description}" style="font-size: 12px">If you do not specify
                            -a
                            then Docker
                            will attach to both stdout
                            and stderr . You can specify to
                            which
                            of the three standard streams (STDIN, STDOUT, STDERR) you’d like to connect instead, as
                            in:</p>
                        <div class="buttons">
                            <button onclick="copyToClipboard(this.closest('.command'))" href="#"
                                    style="background-color: lightgreen; font-weight: bold">copy to clipboard
                            </button>
                            <table>
                                <tr>
                                    <th>
                                        <form method="POST" th:action="@{/command/{id}/delete(id=${command.id})}">
                                            <button href="#" style="background-color: lightcoral; font-weight: bold">
                                                delete
                                            </button>
                                        </form>
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <a type="button" onclick="showButtons(this)">
                            <div class="command-code">
                                <code th:text="${command.text}" style="font-family:monospace;">$ docker run -a stdin -a
                                    stdout -i -t ubuntu /bin/bash</code>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<footer class="page-footer">
    <p>Dmitry Barinov</p>
    <p>2021</p>
</footer>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/script.js" type="text/javascript"></script>
<script>
    function copyToClipboard(parentElement) {
        let element = parentElement.querySelector('.command-code');
        let $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text().trim()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>
</body>
</html>
