<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Commands repository - online notes with commands & hotkeys</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body class="page">
<div class="content-wrap">
    <header class="page-header gray row">
        <div>
            <h1 class="page-title">Commands repository</h1>
        </div>
        <div class="row">
            <p><img alt="login-img" class="icon" src="/img/login_gray_136_136_136.svg" style="padding-right: 5px"></p>
            <p class="sign-in-title">Signed in as <b th:text="${user.email}">email</b></p>
            <p><a style="padding-right: 10px" th:href="@{/logout}" type="submit">
                <span class="icon icon-logout" type="button"></span>
            </a></p>
        </div>
    </header>
    <main>
        <div class="app-header">
            <div align="right">
                <table>
                    <tr>
                        <th><p class="page-title" id="button" th:object="${currentApplication}"
                               th:text="${currentApplication.name}">App name</p></th>
                        <th>
                            <form method="POST" th:action="@{{id}/delete(id=${currentApplication.id})}">
                                <button class="red" style="font-weight: bold"
                                        title="delete application and all it's commands">x
                                </button>
                            </form>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="column-left">
                    <ul th:each="app : ${applications}">
                        <a href="#" th:href="@{{id}(id=${app.id})}" th:text="${app.name}">
                            <li>Application name</li>
                        </a>
                    </ul>
                    <ul>
                        <li>
                            <form class="row" method="POST"
                                  th:action="@{/user/{userId}/application(userId=${user.id})}">
                                <input placeholder="enter new app name.." th:field="*{newApp.name}"/>
                                <button class="green" href="#"
                                        style="font-weight: bold"
                                        title="add new application"
                                        type="submit">+
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="column-right">
                    <div>
                        <form class="row" method="POST"
                              th:action="@{{appId}/command(appId=${currentApplication.id})}">
                            <input placeholder="enter command description.." th:field="*{newCommand.description}">
                            <input placeholder="enter command text.." th:field="*{newCommand.text}">
                            <button class="green" style=" font-weight: bold"
                                    title="add new command">+
                            </button>
                        </form>
                    </div>
                    <div class="command" th:each="command : ${commands}">
                        <p th:text="${command == null ? '' : command.description}">command description</p>
                        <div class="buttons">
                            <button class="green" href="#" onclick="copyToClipboard(this.closest('.command'))"
                                    style="background-color: lightgreen; font-weight: bold">copy to clipboard
                            </button>
                            <form method="POST"
                                  th:action="@{{appId}/command/{cmdId}/delete(appId=${currentApplication.id}, cmdId=${command.id})}">
                                <button class="red" href="#" style="background-color: lightcoral; font-weight: bold">
                                    delete
                                </button>
                            </form>
                        </div>
                        <a type="button">
                            <div class="command-code">
                                <code style="font-family:monospace;" th:text="${command == null ? '' : command.text}">command
                                    text</code>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<footer class="page-footer gray">
    <div class="author"><p>Dmitry Barinov</p></div>
    <div class="year"><p>2021</p></div>
</footer>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/script.js" type="text/javascript"></script>
</body>
</html>
