<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Registration success</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/input.css" rel="stylesheet">
</head>
<body class="page">
<div id="page-container">
    <header class="page-header">
        <div class="container">
            <h1 class="page-title">Commands repository</h1>
        </div>
    </header>
    <h4 th:text="'A verification email has been sent to: ' + ${email}">A verification email has been sent to:
        email@test.com</h4>
</div>
<footer class="page-footer">
    <p>Dmitry Barinov</p>
    <p>2021</p>
</footer>
</body>
</html>